@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.formik-input {
  @apply block bg-gray-100 border text-black border-gray-300 focus:border-gray-300 placeholder-slate-400 w-full rounded-lg p-2 text-base my-1;
}
.formik-label {
  @apply text-base mt-0 text-black;
}

.navbar-overlay {
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}

.modal-overlay.open {
  opacity: 1;
}

.modal-content {
  transform: translateY(-20px);
  opacity: 0;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.modal-content.open {
  transform: translateY(0);
  opacity: 1;
}

.trapezoid {
  clip-path: polygon(50% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.shape {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}
